@import "../../styles/styles.scss";

.timetable{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    margin: auto;
    &__time{
        text-align: start;
        @include content-text
    }
}
