@import "../../styles/styles.scss";

.box{
    height: 200px;
    width: 200px;
    border: solid $line-color 3px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $text-color;
    text-align: center;
    font-family: 'Montserrat', serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 16px;
    @media screen and (max-width: 767px){
        margin-top: 22px;
        font-size: 16px;
    }
    position: relative;
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 40px;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            background-image: url(../../assets/background/bcchanale3.png);
            background-size: cover;
            z-index: -1;
        }
    &--container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 104px;
        margin-right: 104px;
        margin-top: 24px;
        @media screen and (max-width: 767px){
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 22px;
        }
    }
    &--one:before{
        background-image: url(../../assets/background/bacchanale2.png);    
    }
    &--two:before{
        background-image: url(../../assets/background/bcchanale3.png);
    }
    &--three:before{
        background-image: url(../../assets/background/bacchanale2.png);
    }
    &--four:before{
        background-image: url(../../assets/background/bacchanale4.png);  
    }
    &--five:before{
        background-image: url(../../assets/background/bcchanale3.png);
    }
}