@mixin menu-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
    padding-left: 10px;
}

@mixin menu-stripe {
    background-color: $line-color;
    height: 4px;
    width: 30px;
}

@mixin pseudo-element {
    content: '';
    position: absolute;
}

@mixin content-text {
    color: $text-color;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    padding-top: 16px;
    font-weight: 400;
}
